@font-face {
    font-family: 'pixel';
    src: url('../fonts/ThaleahFat.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: pixel;
    font-size: x-large;
    color:#fff;
}
.sprite {
    background-image: url(../src/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-dch {
    width: 84px;
    height: 116px;
    background-position: -20px -20px;
}

.sprite-frente {
    width: 82px;
    height: 124px;
    background-position: -144px -20px;
}

.sprite-izq {
    width: 84px;
    height: 116px;
    background-position: -266px -20px;
}



.sprite1 {
    background-image: url(../src/spritesheet1.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite1-1 {
    width: 100px;
    height: 100px;
    background-position: -5px -5px;
}

.sprite1-2 {
    width: 100px;
    height: 100px;
    background-position: -115px -5px;
}

.sprite1-3 {
    width: 100px;
    height: 100px;
    background-position: -225px -5px;
}

.sprite1-4 {
    width: 100px;
    height: 100px;
    background-position: -335px -5px;
}

.sprite1-5 {
    width: 100px;
    height: 100px;
    background-position: -445px -5px;
}

.sprite1-6 {
    width: 100px;
    height: 100px;
    background-position: -555px -5px;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../src/fondo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 500px;
    height: 500px;
    background-image: url(../src/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.cont form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25%;
    margin: 0;
    padding: 0;
}

.cont input,.botones{
    width:  60%;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#jugar{
    width:  42%;
}

.cuerpo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}
@media (min-width:1000px) {
    .tablero{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        z-index: 10;
    }
    .dado{
        width: 80%;
        height: 20%;
        background-color: #5a5a59;
        z-index: 10;
        border-radius: 20px;
    }
    .con{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    
}
.tablero{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    
}
.tablero1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    z-index: 10;
}

.dado{
    border: 2px #fff solid;
    width: 20%;
    height: 80%;
    background-image: url(../src/fondocelda.png);
    background-size: 25%;
    background-repeat: repeat;
    z-index: 10;
    border-radius: 20px;
}

.con{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.con h3{
    z-index: 100;
}

.con input{
    width: 80%;
    height: 5%; 
    background-color: #000;
    border-radius: 10px;
    border: 2px #fff solid;
}

.con input:hover, .retry:hover{
    transform: scale(1.1,1.1);
}

.e3 {
    width: 100px;
    height: 100px;
    margin: 3em auto 0 auto;
    position: relative;
    perspective-origin: center -50%;
    perspective: 500px;
  }
  
.d3 {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-150px);    
  }
.animacion{
    animation-name: gira;
    animation-duration: 3s;
    animation-iteration-count: ease;
}  
.da{
    position: absolute;
    width: 100px;
    height:100px;
    background-color:#fff;
    font-size: 3em;
    text-align: center;
    transform: scale(1.5,1.5);
}
/*frente*/
.cara1{
    transform: translateZ(48px);
}
/*trasera*/
.cara2{
    transform: rotateY(180deg) translateZ(48px);
}
/*izquierda*/
.cara3{
    transform: rotateY(-90deg) translateZ(48px);
}
/*derecha*/
.cara4{
    transform: rotateY(90deg) translateZ(48px);
}
/*abajo*/
.cara5{
    transform: rotateX(-90deg) translateZ(48px)
}
/*arriba*/
.cara6{
    transform: rotateX(90deg) translateZ(48px)
}

@keyframes gira {
    0%{transform: translateZ(-150px) rotateY(0deg) rotatex(0deg);}
    50%{transform: translateZ(-150px) rotateY(360deg) rotatex(360deg);}
    100%{transform: translateZ(-150px) rotateY(0deg) rotatex(0deg);}
}


.dado1{
    width: 0;
}

#tab
{
    width: 80%;
    height: 80%;
    border: 2px #000 solid;
    background-image: url(../src/fondocelda.png);
    background-size: 25%;
    background-repeat: repeat;
}

#tab td{
    width: 15px;
    height: 15px;    
}

#tab1
{
    width: 60%;
    height: 40%;
    border: 2px #000 solid;
    background-image: url(../src/fondocelda.png);
    background-size: 25%;
    background-repeat: repeat;
}

#tab1 td{
    width: 15px;
    height: 15px;
    border: 1px #000 solid;
    
}
#fin{
    width: 80%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#fin div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.retry{
    width: 50%;
    height: 40%; 
    background-color: #000;
    border-radius: 10px;
    border: 2px #fff solid;
}



.heroe{
    background-image: url(../src/heroe1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.ft{
    background-image: url(../src/fondocelda.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cofre{
    background-image: url(../src/cofre.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.indicador{
    background-image: url(../src/heroe1.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name:respiracion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} 

@keyframes respiracion {
    0%{opacity: 100%;transform: scale(1)}
    50%{opacity: 50%; transform: scale(0.7)}
    100%{opacity: 100%;transform: scale(1)}
}